/* ADD YOUR STYLES HERE */

/*table {*/
/*    width: 100px;*/
/*    length: 100px*/
/*}*/

.spacing-datatable {
    padding-left: 60px;
    padding-right: 130px;
}

.spacing-datatable-1 {
    padding-left: 0px;
    padding-right: 0px;
}

.line-table {
    border-bottom: solid #BFBFBF;
    border-top: solid #BFBFBF;
    border-width: 1px;

}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-row {
    padding-left: 0px;
    padding-right: 90px;
    
}

.header-body {
    text-align: left;
    
}

.header-body-1 {
    padding-left: 0px;
    padding-right: 70px;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
}

#col {
-moz-column-count: 3;
-webkit-column-count: 3;
column-count: 3;
}



.numbers {
    font-size: 30px;
    padding-right: 20px;
    font-weight: bold;
    text-align: center;
}

.labels {
    padding-left: 0px;
    padding-right: 20px;
    font-family: Helvetica;
    text-align: center;
    font-size: 12px;
    color: gray;
}

.Bar-Chart-Name {
    text-align: right;
    width: 100px;
    padding-bottom: 0px;
}



.Bar-Chart-Number {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 0px;
    width: 90%;
    text-align: right
}

.ninety-nine {
    padding-left: 10px;
    background-color: #629EDB;
    text-align: left;
    color: White;
}

.fifty-seven {
    padding-left: 10px;
    background-color: #629EDB;
    text-align: left;
    color: White;
}

.thirty-eight {
    padding-left: 10px;
    background-color: #629EDB;
    text-align: left;
    color: White;
}

.thirty-three {
    padding-left: 10px;
    background-color: #629EDB;
    text-align: left;
    color: White;
}

.six {
    padding-left: 10px;
    background-color: #629EDB;
    text-align: left;
    color: White;
}

.five {
    padding-left: 10px;
    background-color: #629EDB;
    text-align: left;
    color: White;
}

.four {
    padding-left: 10px;
    background-color: #629EDB;
    text-align: left;
    color: White;
    
}

.three {
    padding-left: 10px;
    background-color: #629EDB;
    text-align: left;
    color: White;
}








.media-block {
    float: left;
    margin-right: 10px;
}

.media-block-text {
    font-size: 14px;
}

.cupcake-ipsum {
    float: left;
    margin-right: 0px;
}

.cupcake-ipsum-text {
    font-size: 12px;
    padding-left: 60px;
}

.ccip {
    padding-left: 60px;
}




.nmo-cupcake-ipsum {
    float: left;
    margin-right: 0px;
}

.ilc {
    float: left;
    margin-right: 8px;
    padding-left: 60px;
}

.ilc2 {
    float: left;
    margin-right: 8px;
    padding-left: 60px;
}

.ccip2 {
    padding-left: 60px;
}

.ccip3 {
    padding-left: 60px;
}

.ccip4 {
    padding-left: 60px;
}

.ccip-text {
  padding-left: 60px;  
}

.ccip-text2 {
    padding-left: 100px;
    font-size: 13px;
}

.ccip-text3 {
    padding-left: 100px;
    font-size: 13px;
}